<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
          border-collapse: collapse;
          overflow: hidden;
        }

        th, td {
          padding: 1em;
          background: #ddd;
          border-bottom: 2px solid white;
          border-right: 2px solid white;
        }
        .final{
          background: #aec6c7;
          font-weight: bold;
          font-size: 18px;
        }


        body {
          margin: 1.5em;
        }
    </style>
</head>
<body>
<div>

<p>Dear Student:</p>
    <p> In the chart below you will find your grades for the second term.  </p>
    <p>
  Please check them and if you have any comments let me know.       </p>


</div>

<div>
    <h4>Intermediate II</h4>
    <h4>group 01</h4>
    <h4>Monday 11-13 Wednesday 11-3</h4>
</div>
<table class="data">
  <tr>
    <th>Nota 1</th>
      <th>Nota2</th>

    <th class="final">Nota final</th>

  </tr>
  <tr>
    <td>2.4</td>
      <td>2.8</td>
    <td class="final">2.6</td>
  </tr>
</table>
<br>
    <p>Warm regards,</p>
    <p>
    Claudia Milena Pérez Guerrero.
    </p>

</body>
</html>